@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/georgia-pro-cond');

body {
  background-color: #3b0505;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  font-family: 'Georgia Pro Cond', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.service-card{
  background-color: #b68581;
}
.accordion-font{
  font-family: 'Georgia Pro Cond', sans-serif;
}
html{
  font-family: 'Georgia Pro Cond', sans-serif;
}
.leslie{
  width: 400px;
  height: 500px;
}
code {
  font-family: 'Georgia Pro Cond', sans-serif;
}
